<!DOCTYPE html>
<html>
  <head>
    <title>DDRegistro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <nav class="navbar has-background-info-dark" role="navigation" aria-label="main navigation">
    <h1 class='title is-4 has-text-white'>DDRegistro</h1>
  </nav>


  <body>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
